name:  CI/CD pipelie to Deploy Into ECS
on:
  push:
    branches: main
jobs:
   build-deploy:
     runs-on: ubuntu-latest
     steps:
       - name: checkout code
         uses: actions/checkout@v3
       - name: setup-jdk 
         uses: actions/setup-java@v3
         with:
          distribution: 'temurin'
          java-version: '11'   # Updated Java version
       - name: maven validate
         run: mvn validate
       - name: maven compile
         run: mvn compile
       - name: maven test
         run: mvn test
       - name: maven package
         run: mvn package

      
         
    

