name:  CI/CD pipelie to Deploy Into ECS
on:
  push:
    branches: main
jobs:
   build-deploy:
     runs-on: ubuntu-latest
     steps:
       - name: checkout code
         uses: actions/checkout@v3
       - name: setup-jdk 
         uses: actions/setup-java@v3
         with:
          distribution: 'temurin'
          java-version: '11'   # Updated Java version
       - name: maven validate
         run: mvn validate
       - name: maven compile
         run: mvn compile
       - name: maven test
         run: mvn test
       - name: maven package
         run: mvn package
       - name: verify war file
         run: ls -lh target/
       - name: Build Docker image
         run: docker build -t trainbook-app .
        
       - name: Configure AWS
         uses: aws-actions/configure-aws-credentials@v4
         with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

       - name: Login to Amazon ECR
         uses: aws-actions/amazon-ecr-login@v2

       - name: Build Docker Image
         run: |
          IMAGE_TAG=$(date +%s)
          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV
          docker build -t ${{ secrets.ECR_REPOSITORY }}:$IMAGE_TAG .
          

      
         
    

